# dependencies
/node_modules
/api/node_modules
/api/dist

# build output
/dist

# env files
.env
.env.*
*.env
*.local

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
